geometry
build
*.tar
*.o
crystfinder
upload
cheetah
./cheetah.xcworkspace
./pythonscripts
./example/CVS
./release/pdstools/CVS
./release/pdstools/procmgr/CVS
./release/make/hw/CVS
./release/make/tools/CVS
./release/make/share/CVS
./release/make/sw/CVS
./release/make/CVS
./release/mcmfast/app/CVS
./release/mcmfast/CVS
./release/pdsdata/control/src/CVS
./release/pdsdata/control/CVS
./release/pdsdata/lusi/src/CVS
./release/pdsdata/lusi/CVS
./release/pdsdata/bld/src/CVS
./release/pdsdata/bld/CVS
./release/pdsdata/pulnix/src/CVS
./release/pdsdata/pulnix/CVS
./release/pdsdata/epics/src/CVS
./release/pdsdata/epics/CVS
./release/pdsdata/ipimb/src/CVS
./release/pdsdata/ipimb/CVS
./release/pdsdata/encoder/src/CVS
./release/pdsdata/encoder/CVS
./release/pdsdata/camera/src/CVS
./release/pdsdata/camera/CVS
./release/pdsdata/evr/src/CVS
./release/pdsdata/evr/CVS
./release/pdsdata/opal1k/src/CVS
./release/pdsdata/opal1k/CVS
./release/pdsdata/fccd/src/CVS
./release/pdsdata/fccd/CVS
./release/pdsdata/acqiris/src/CVS
./release/pdsdata/acqiris/CVS
./release/pdsdata/xtc/src/CVS
./release/pdsdata/xtc/CVS
./release/pdsdata/pnCCD/src/CVS
./release/pdsdata/pnCCD/CVS
./release/pdsdata/princeton/src/CVS
./release/pdsdata/princeton/CVS
./release/pdsdata/types/src/CVS
./release/pdsdata/types/CVS
./release/pdsdata/cspad/src/CVS
./release/pdsdata/cspad/CVS
./release/pdsdata/app/CVS
./release/pdsdata/CVS
./release/CVS
myinstall
