<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>cheetah-all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cheetah-sacla.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4D93D90C174F9F52004A0BB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DA51BCF189ABA3D00C97F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4DA51BE0189AC1B200C97F32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
